<!DOCTYPE html>
<html>
<head>
	   <link rel="stylesheet" href="/css/style.css">
</head>
<body>	
	<h2>Movieflix</h2>
	<div>
		<h3>Avengers</h3>
		<p th:utext="${msg1}"></p>
		<p th:if="${isLoggedIn}">The Avengers are a team of superheroes and the protagonists of the Marvel Cinematic Universe (MCU) media franchise, based on the eponymous team from Marvel Comics created by Stan Lee and Jack Kirby in 1963. Founded by S.H.I.E.L.D. director Nick Fury, the team is a United States–based organization composed primarily of superpowered and gifted individuals, described as "Earth's Mightiest Heroes", who are committed to the world's protection from a variety of threats. <br> 
			In the years since the defeat of Fire Lord Ozai, Aang, the world's last Airbender, discovers a surviving airbender named Tagah and learns of a powerful staff that could restore his culture. <br> With the help of his friends, he joins Tagah on a global quest to find it before a group known as the Denied can claim it and threaten the fragile peace they fought to achieve.
		</p>
		<p th:unless="${isLoggedIn}">Please log in to read the full movie description</p>
	</div>
</body>
</html>