<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>  Student information </h1>

<h3> Single Student </h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Marks</th>
        </tr>
    </thead>
    
        <tr th:each="students, index : ${students}" th:if="${index.index == 1}">
            <td th:text="${Students.id}"></td>
            <td th:text="${Students.name}"></td>
            <td th:text="${Students.marks}"></td>
        </tr>
</table>  


<h3>Students List</h3>
<table border=”1”>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="students : ${students}">
            <td th:text="${Student.id}"></td>
            <td th:text="${Student.name}"></td>
            <td th:text="${Student.marks}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>